body {
  background: lightblue;
}

h1 {
  font-size: 26px;
  color: blue;
}
h2 {
  font-size: 18px;
  color: red;
}

p {
  text-align: center;
  color: black;
}

.contact {
  color: red;
  text-decoration: none;
}
.contact:hover {
  text-decoration: underline;
}
